<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>ULR</th>
          <th>Uploaded On</th>
          <th>Expired On</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="ULR" />
          </td>
          <td>20-01-2019</td>
          <td>20-01-2019</td>
          <td>
            <input type="file" multiple class="fileUpload" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>