<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
  <!-- Accordion card -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingOne1">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
        <h5 class="mb-0">
          Lab General Details
        </h5>
      </a>
    </div>
    <!-- Card body -->
    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th width="50%">Details</th>
                <th width="50%">Data Feeded by Lab</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Name ofthe CAB</td>
                <td>BHAVYALABORATORIES
                </td>
              </tr>
              <tr>
                <td>Type ofCAB</td>
                <td>Private
                </td>
              </tr>
              <tr>
                <td>GSTIN </td>
                <td>06AJWPS4622H2ZP
                </td>
              </tr>
              <tr>
                <td>Country </td>
                <td>India
                </td>
              </tr>
              <tr>
                <td>State </td>
                <td>Haryana
                </td>
              </tr>
              <tr>
                <td>City </td>
                <td>Faridabad</td>
              </tr>
              <tr>
                <td>Landline </td>
                <td>129-2231248
                </td>
              </tr>
              <tr>
                <td>Does the LaboratoryOperate FromDifferent Locations Having Same LegalIdentityWithinThe City? </td>
                <td>No</td>
              </tr>
              <tr>
                <td>Are you fromSEZ region(Specialeconomiczone) </td>
                <td>No</td>
              </tr>
              <tr>
                <td>Whetherany individual or organization has provided consultancy for preparing towards NABLAccreditation
                </td>
                <td>No
                </td>
              </tr>
              <tr>
                <td>Whetherany adverseaction has been initiated/taken byNABL against thelaboratory in the past years.
                </td>
                <td>No
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Contact Person for NABL
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="50%">Name</td>
                <td width="50%">Mr. GIRISHSHARMA</td>
              </tr>
              <tr>
                <td>Designation</td>
                <td>QualityManager</td>
              </tr>
              <tr>
                <td>Mobile No</td>
                <td>9350000800</td>
              </tr>
              <tr>
                <td>Landline No</td>
                <td> 129-2231248</td>
              </tr>
              <tr>
                <td>Fax</td>
                <td>129-2231248</td>
              </tr>
              <tr>
                <td>Email</td>
                <td> info@bhavyalab.co.in</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">
                  Do youConduct Testing in the following Category
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="50%">Permanent Facility</td>
                <td width="50%">Yes</td>
              </tr>
              <tr>
                <td>Site Facility</td>
                <td>Yes</td>
              </tr>
              <tr>
                <td>Mobile Facility</td>
                <td>
                  No</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Parent OrganizationDetails
                </th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="50%">Name ofthe Parent OrganizationApplicable? </td>
                <td width="50%">No
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Legal Identity Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="50%">Legal Identity Type</td>
                <td width="50%">Companies Act,Proprietorship Firm</td>
              </tr>
              <tr>
                <td>Proprietorship Firm Certificate</td>
                <td>Download</td>
              </tr>
              <tr>
                <td>Type of Laboratory by Service</td>
                <td>Open to Others</td>
              </tr>
              <tr>
                <td>Other Accreditations</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Internal Audit andManagement Review</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="50%">Start Date/Schedule ofLast InternalAudit</td>
                <td width="50%">30-07-2018</td>
              </tr>
              <tr>
                <td>End Date/Schedule ofLast InternalAudit</td>
                <td>30-07-2018</td>
              </tr>
              <tr>
                <td>Whetherallrequirements ofISO/IEC 17025:2005covering all activities oflaboratory have been audited
                  at least oncein last one year
                </td>
                <td>Yes</td>
              </tr>
              <tr>
                <td>Start Date ofLast Management Review</td>
                <td> 04-08-2018</td>
              </tr>
              <tr>
                <td>End Date ofLast Management Review</td>
                <td> 04-08-2018</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">File Uploads
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="50%">Lab OrganizationChart</td>
                <td width="50%">
                  <a href="">Download</a>
                </td>
              </tr>
              <tr>
                <td>QualityManualFile</td>
                <td>
                  <a href="">Download</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Accordion card -->
  <!-- Accordion card -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingTwo2">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
        <h5 class="mb-0">
          Disciplines
        </h5>
      </a>
    </div>
    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Disciplines: Electro-technical</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="50%">Group</td>
                <td width="50%">AlternatingCurrent(
                  < 1 GHz)</td>
              </tr>
              <tr>
                <td>Group</td>
                <td>Direct Current</td>
              </tr>
              <tr>
                <td>Group</td>
                <td>Temperature Simulation</td>
              </tr>
              <tr>
                <td>Group</td>
                <td>Time & Frequency</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Disciplines: Thermal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="50%">Group</td>
                <td width="50%">Specific heat & Humidity</td>
              </tr>
              <tr>
                <td>Group</td>
                <td>Temperature</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Disciplines: Mechanical
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="50%">Group</td>
                <td width="50%">Dimension (Basic Measuring Instrument, Gaugeetc.)</td>
              </tr>
              <tr>
                <td>Group</td>
                <td>Dimension (Precision Instruments)</td>
              </tr>
              <tr>
                <td>Group</td>
                <td>PressureIndicatingDevices</td>
              </tr>
              <tr>
                <td>Group</td>
                <td>Volume</td>
              </tr>
              <tr>
                <td>Group</td>
                <td>Weighing Scaleand Balance</td>
              </tr>
              <tr>
                <td>Group</td>
                <td>Weights</td>
              </tr>
              <tr>
                <td>Group</td>
                <td>Acceleration and Speed</td>
              </tr>
              <tr>
                <td>Group</td>
                <td>Acoustics</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Disciplines: Electro-technical
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="50%">Group</td>
                <td width="50%">Miscellaneous</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Accordion card -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingTwo3">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
        <h5 class="mb-0">
          Lab Location Details
        </h5>
      </a>
    </div>
    <!-- Card body -->
    <div id="collapseTwo3" class="collapse" role="tabpanel" aria-labelledby="headingTwo3" data-parent="#accordionEx">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="50%">Details
                </th>
                <th width="50%">Data Feeded by Lab</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Address</td>
                <td>MCF NO. 1274, GALI NO. 25, SANJAYCOLONY, SECTRO : 23</td>
              </tr>
              <tr>
                <td>District</td>
                <td>FARIDABAD</td>
              </tr>
              <tr>
                <td>City</td>
                <td>Faridabad</td>
              </tr>
              <tr>
                <td>Pin Code </td>
                <td>121005</td>
              </tr>
              <tr>
                <td>Contact No</td>
                <td>9350000800</td>
              </tr>
              <tr>
                <td>FaxNo. </td>
                <td>129-2231248</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td>info@bhavyalab.co.in
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Accordion card -->
  <!-- Accordion wrapper -->
</div>